{% extends "base.html" %} {% block content %}
<div class="mx-auto w-1/2 my-9">
            {% if messages %}
            {% for message in  messages %}
            <p class="bg-green-500 ">{{message}}</p>
            {% endfor %}
        {% endif %}
        
        <form method='POST'>
            {% csrf_token %}
           {{form}}
            <button class="p-2 bg-green-400 text-white px-2 py-1 mt-3 rounded   type="submit">Sign In</button>
        </form>
</div>

{% endblock content %}
