{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    {% comment %} <link rel="stylesheet" href="{% static 'css/output.css' %}" /> {% endcomment %}
     <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body>
    <div class="w-1/2 mx-auto mt-8">
      <div>
        {% if messages %}
          {% for message  in messages  %}
          <div class="px-2 py-1 {% if message.tags == 'success'%} bg-green-500 {% endif %}">{{message}}</div>
          {% endfor %}
        
        {% endif %}
      </div>
      <form method="POST">
        <input
          type="text"
          class="border-2 border-gray-300 w-full rounded-lg shadow-sm "
        />
        {% csrf_token %} 
        {{task_form}}
        {{task_detail_form.as_p}}
        <button  type="submit" class="bg-rose-600 px-3 py-2 text-white mt-2 rounded-md">Submit</button>
      </form>
    </div>
  </body>
</html>
