{% extends "admin/dashboard.html" %}
{% block content %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Groups and Permissions</title>
    <link rel="stylesheet" href="css/output.css" />
  </head>
  <body>

    <main class="w-2/3 mx-auto mt-8">
      <h2 class="text-2xl font-bold mb-4">Groups and Permissions</h2>
      <div class="overflow-x-auto">
        <table class="table-auto w-full border-collapse border border-gray-300">
          <thead>
            <tr class="bg-gray-100">
              <th class="border border-gray-300 px-4 py-2">Group Name</th>
              <th class="border border-gray-300 px-4 py-2">Permissions</th>
            </tr>
          </thead>
          <tbody>
            {% for group in groups  %}
            <tr class="odd:bg-white even:bg-gray-50">
              <td class="border border-gray-300 px-4 py-2 font-medium">
               {{group.name}}
              </td>
              <td class="border border-gray-300 px-4 py-2">
                <ul class="list-disc list-inside">
                  {% for permission  in group.permissions.all  %}
                    <li>{{permission.name}}</li>
                    {% empty %}
                    <span class="text-gray-500 italic">No Permissions assigned</span>
                  {% endfor %}
                </ul>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </main>
  </body>
</html>
{% endblock content %}
