       
       {% extends "deshborad/commen_deshborad.html" %}
       {% block title %}manager_dashboard{% endblock title %}
       {% block task %}
       <div class="bg-white-200 rounded-xl shadow-sm  ">
            <div class="grid grid-cols-4 p-4 border-b border-gray-100 text-xm text-gray-500">
                <div>TASK TITLE</div>
                <div>PRIORITY</div>
                <div>TEAM</div>
                <div>CREATED AT</div>
            </div>

            <div class="divide -y divide-gray-100 mb-4">
                <div class="grid grid-cols-4 p-4 gap-4 item-center">
                    <div class="flex items-center gap-4">
                        <div class="w-2 h-2 bg-green-500 rounded-full"></div>
                        <div>
                            <span>Test Low Task</span>
                        </div>
                    </div>

                    <div class="px-3 py-1 roed-full bg-blue-50 text-blue-600 text-sm">Low</div>
                    <div class="flex -space-x-2">
                        <div class="w-8 h-8 rounded-full bg-blue-500 flex items-center justify-center text-white text-sm border-2 border-white">
                            CA
                        </div>
                        <div class="w-8 h-8 rounded-full bg-blue-500 flex items-center justify-center text-white text-sm border-2 border-white">
                            BA
                        </div>
                        <div class="w-8 h-8 rounded-full bg-blue-500 flex items-center justify-center text-white text-sm border-2 border-white">
                            DA
                        </div>
                    </div>
                    <div class="text-gray-500">9 month ago</div>
                </div>
            </div>
            <div class="divide -y divide-gray-100 mb-4">
                <div class="grid grid-cols-4 p-4 gap-4 item-center">
                    <div class="flex items-center gap-4">
                        <div class="w-2 h-2 bg-green-500 rounded-full"></div>
                        <div>
                            <span class="bg-red-400">Test Low Task</span>
                        </div>
                    </div>

                    <div class="px-3 py-1 roed-full bg-blue-50 text-blue-600 text-sm">Low</div>
                    <div class="flex -space-x-2">
                        <div class="w-8 h-8 rounded-full bg-blue-500 flex items-center justify-center text-white text-sm border-2 border-white">
                            CA
                        </div>
                        <div class="w-8 h-8 rounded-full bg-blue-500 flex items-center justify-center text-white text-sm border-2 border-white">
                            BA
                        </div>
                        <div class="w-8 h-8 rounded-full bg-blue-500 flex items-center justify-center text-white text-sm border-2 border-white">
                            DA
                        </div>
                    </div>
                    <div class="text-gray-500">9 month ago</div>
                </div>
            </div>
            <div class="divide -y divide-gray-100 mb-4">
                <div class="grid grid-cols-4 p-4 gap-4 item-center">
                    <div class="flex items-center gap-4">
                        <div class="w-2 h-2 bg-green-500 rounded-full"></div>
                        <div>
                            <span>Test Low Task</span>
                        </div>
                    </div>

                    <div class="px-3 py-1 roed-full bg-blue-50 text-blue-600 text-sm">Low</div>
                    <div class="flex -space-x-2">
                        <div class="w-8 h-8 rounded-full bg-blue-500 flex items-center justify-center text-white text-sm border-2 border-white">
                            CA
                        </div>
                        <div class="w-8 h-8 rounded-full bg-blue-500 flex items-center justify-center text-white text-sm border-2 border-white">
                            BA
                        </div>
                        <div class="w-8 h-8 rounded-full bg-blue-500 flex items-center justify-center text-white text-sm border-2 border-white">
                            DA
                        </div>
                    </div>
                    <div class="text-gray-500">9 month ago</div>
                </div>
            </div>
            <div class="divide -y divide-gray-100 mb-4">
                <div class="grid grid-cols-4 p-4 gap-4 item-center">
                    <div class="flex items-center gap-4">
                        <div class="w-2 h-2 bg-green-500 rounded-full"></div>
                        <div>
                            <span>Test Low Task</span>
                        </div>
                    </div>

                    <div class="px-3 py-1 roed-full bg-blue-50 text-blue-600 text-sm">Low</div>
                    <div class="flex -space-x-2">
                        <div class="w-8 h-8 rounded-full bg-blue-500 flex items-center justify-center text-white text-sm border-2 border-white">
                            CA
                        </div>
                        <div class="w-8 h-8 rounded-full bg-blue-500 flex items-center justify-center text-white text-sm border-2 border-white">
                            BA
                        </div>
                        <div class="w-8 h-8 rounded-full bg-blue-500 flex items-center justify-center text-white text-sm border-2 border-white">
                            DA
                        </div>
                    </div>
                    <div class="text-gray-500">9 month ago</div>
                </div>
            </div>
        </div>
         {% endblock task %}